#main{
	background-color: #2196F3;
	height: 620px;
	width: 700px;
	border-radius: 10pt;
	padding-top: 20px;
	float:left;
	border:solid;
}
#screen{
	background-color:#fff;
	height: 100px;
	width: 600px;
	border-radius: 10pt;
	float: center;
	margin: 20px;
	margin-top: 30px;
	margin-left: 45px;
	border:solid;
}
#bottons{
	width: 600px;
	height: 440px;
	float: left;
	background-color: yellow;
	margin-left: 45px;
	border-radius: 10pt; 
	border:solid;

}
.botton{
	width: 100px;
	height: 100px;
	border-radius: 10pt;
	font-family: impact;
	color: black;
	font-size: 30pt;
	margin: 2px;
	margin-left: 10px;
}
button{
	opacity: 10px;
	border:solid;
}
.botton:hover{
	opacity: 0.8;
}

#equal{
	float: center;
	width: 420px;
	margin-top: 10px;s
}
#c{
	background-color: red;
}
#add{
	background-color: gray;
}
#minus{
	background-color: gray;
}
#div{
	background-color: gray;
}
#multip{
	background-color: gray;
}
#period{
	background-color: gray;
}
input{
	text-align: right;
	font-family: impact;
	font-size: 70px;
	float: center;
	margin: auto;
	width: 600px;
	height: 100px;
	background-color: transparent;
	border-radius: 10pt;
}
